@using ProjektTI.Resources;
<footer class="text-center text-muted mt-5 border-top pt-3 small">
    
    <p class="mb-2">
        @SharedLabels.CreatedBy <section>Aleksander Jasiński &amp; Piotr Otręba</section>
    </p>
    <div class="d-flex justify-content-center gap-3">
        <a href="https://github.com/alek5nder" target="_blank" class="text-muted" aria-label="GitHub Aleksander">
            <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/alek5nder/" target="_blank" class="text-muted" aria-label="LinkedIn Aleksander">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <section></section>
        <a href="https://github.com/piotrotr" target="_blank" class="text-muted" aria-label="GitHub Piotr">
            <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/piotr-otr%C4%99ba-ab90ab2a3/" target="_blank" class="text-muted" aria-label="LinkedIn Piotr">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
    </div>
    <p class="mb-1">
        &copy; @DateTime.Now.Year @SharedLabels.AppName. @SharedLabels.AllRightsReserved
    </p>
    
    
</footer>
