html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.delete-btn {
    background: transparent;
    border: none;
    color: rgba(220, 53, 69, 0.4); /* Bootstrap red with low opacity */
    font-size: 1.25rem;
    transition: color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgba(220, 53, 69, 1); /* Fully opaque red */
    transform: scale(1.2); /* Slightly enlarge the button */
}

.delete-btn:focus {
    outline: none;
    box-shadow: none;
}
